.terms-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
  gap: 35px;
}

.term-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
  color: rgb(255, 255, 255);
}

.terms-btn-wrapper {
  width: 270px;
}

.terms-btn-wrapper button {
  background-color: #07a31f;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 14px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.terms-btn-wrapper button:focus {
  outline: none;
}

.terms-box {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 42px;
  max-width: 665px;
}

.terms-box p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
}

.terms-box p strong {
  font-weight: 700;
}

.second-section p {
  margin: 0;
}

@media (max-width: 800px) {
  .terms-wrapper {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: 370px) {
  .terms-btn-wrapper {
    width: 80%;
  }
}
