.login-footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 20px;
}

.login-box {
    background-color: white;
    border-radius: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 30px 50px;
    gap: 25px;
    width: 440px;
}

.login-title {
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
    color: rgb(255, 0, 0);
}

.login-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form label {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}

.login-form input {
    padding: 10px 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
}

.login-form input:focus {
    outline: none;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 18px;
  top: 50%;
  bottom: 50%;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.6;
}

.login-btn-wrapper {
    width: 60%;
}

.login-btn-wrapper button {
    background-color: #07A31F;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 14px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 0px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.link-container a {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

@media (max-width: 600px) {
    .login-box {
        width: 70%;
    }

    .login-title {
        font-size: 32px;
    }

    .link-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
        width: 100%;
    }
}