.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
}

.search-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.searchbar {
  position: relative;
}

.searchbar input {
  border-radius: 50px;
  padding: 8px 14px;
  width: 270px;
  border: 1px solid #ccc;
}

.searchbar input:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #22d3ee;
  pointer-events: none;
}

.filter-btn-wrapper {
  display: flex;
  gap: 20px;
}

.filter-btn {
  background-color: white;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  color: #616161;
  box-shadow: 2px 0px 10px #d4d4d4;
  font-size: 14px;
}

.filter-btn:focus,
.filter-btn:hover {
  outline: none;
  border: none;
}

.add-icon {
  color: #00d12e;
  font-size: 17px;
}

.print-icon {
  color: #22d3ee;
  font-size: 17px;
}

.toggle-icon {
  color: #22d3ee;
  font-size: 17px;
}

@media (max-width: 1280px) {
  .filter-wrapper {
    padding: 0px 0px;
  }
}

@media (max-width: 1070px) {
  .filter-btn {
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    gap: 0px;
    padding: 6px 12px;
  }

  .filter-btn i {
    font-size: 20px;
  }
}

@media (max-width: 675px) {
  .filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .search-filter-wrapper {
    width: 100%;
  }

  .searchbar {
    width: 100%;
  }

  .searchbar input {
    width: 100%;
  }

  .filter-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
