.filter-table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.search-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.searchbar {
  position: relative;
}

.searchbar input {
  border-radius: 50px;
  padding: 8px 14px;
  width: 270px;
  border: 1px solid #ccc;
}

.searchbar input:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #22d3ee;
  pointer-events: none;
}

.filter-btn-wrapper {
  display: flex;
  gap: 20px;
}

.filter-btn {
  background-color: white;
  border-radius: 50px;
  border: none;
  display: flex;
  gap: 10px;
  color: #616161;
  box-shadow: 2px 0px 10px #d4d4d4;
  font-size: 14px;
}

.filter-btn:focus,
.filter-btn:hover {
  outline: none;
}

.add-icon {
  color: #00d12e;
  font-size: 17px;
}

.print-icon {
  color: #22d3ee;
  font-size: 17px;
}

.toggle-icon {
  color: #22d3ee;
  font-size: 17px;
}

.table-wrapper {
  padding: 0 10px;
  width: 100%;
}

.product-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 12px;
}

.product-table td {
  vertical-align: top;
  padding: 0px;
}

.product-table th:nth-child(1),
.product-table td:nth-child(1) {
  width: 11%;
}

.product-table th:nth-child(2),
.product-table td:nth-child(2) {
  width: 26%;
}

.product-table th:nth-child(3),
.product-table td:nth-child(3) {
  width: 10%;
}

.product-table th:nth-child(4),
.product-table td:nth-child(4) {
  width: 10%;
}

.product-table th:nth-child(5),
.product-table td:nth-child(5) {
  width: 8%;
}

.product-table th:nth-child(6),
.product-table td:nth-child(6) {
  width: 8%;
}

.product-table th:nth-child(7),
.product-table td:nth-child(7) {
  width: 26%;
}

.product-table th:nth-child(8),
.product-table td:nth-child(8) {
  width: 1%;
}

.table-heading th {
  font-weight: 600;
  color: #3c3c3c;
  text-align: left;
  font-size: 14px;
  padding: 0 8px;
}

.table-data td input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
  border-radius: 18px;
  border: 1px solid #b5e3fc;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.table-data td input:focus {
  outline: none;
}

.action-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn {
  background-color: transparent;
  padding: 0;
  margin-left: 15px;
  border: none;
  font-size: 18px;
  color: #0f7ee9;
}

.action-btn:focus {
  outline: none;
}

.action-dropdown-container {
  position: relative;
}

.edit-dropdown-wrapper {
  position: absolute;
  top: 25px;   
  right: 0;    
  z-index: 1000;
}


.edit-dropdown {
  list-style: none;
  padding: 6px 0;
  margin: 0;
  width: 120px;
  background: #ffffff;
  border: 1px solid #dbe4ea;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.edit-dropdown-item {
  padding: 8px 12px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}

.field-error {
  font-size: 11px;
  color: red; 
}



@media (max-width: 1280px) {
  .filter-wrapper,
  .table-wrapper {
    padding: 0px 0px;
  }

}

@media (max-width: 1070px) {
  .filter-btn {
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    gap: 0px;
    padding: 6px 12px;
  }

  .filter-btn i {
    font-size: 20px;
  }

  .product-table th:nth-child(3),
  .product-table td:nth-child(3) {
    display: none;
  }

  .product-table th:nth-child(7),
  .product-table td:nth-child(7) {
    display: none;
  }

}

@media (max-width: 768px) {
  .product-table th:nth-child(1),
  .product-table td:nth-child(1) {
    display: none;
  }

  .product-table th:nth-child(5),
  .product-table td:nth-child(5) {
    display: none;
  }

  .product-table th:nth-child(6),
  .product-table td:nth-child(6) {
    display: none;
  }

  .product-table th:nth-child(2),
  .product-table td:nth-child(2) {
    width: 80%;
  }

  .product-table th:nth-child(4),
  .product-table td:nth-child(4) {
    width: 20%;
  }
}

@media (max-width: 675px) {
  .filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .search-filter-wrapper {
    width: 100%;
  }

  .searchbar {
    width: 100%;
  }

  .searchbar input {
    width: 100%;
  }

  .filter-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

}
